logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log
node_modules/

**/node_modules/

**/build/
**/dist/

**/.cache
**/.cache-loader
**/.parcel-cache/

**/coverage/
*.lcov

**/.env
**/.env.*.local

**/package-lock.json
**/yarn.lock

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tmp
*.temp

.DS_Store

.pnp
.pnp.js
.npm

**/*.tsbuildinfo

**/*.map

.local-history/
**/.eslintcache
**/.stylelintcache

.yarn-integrity
.yarn-cache/
.npm-link/
